<h1>Sudoku</h1>
<hr />

<div *ngIf="vm" class="grid">
  <div *ngFor="let row of [].constructor(vm.size);let r = index;" class="row">
    <div *ngFor="let col of [].constructor(vm.size);let c = index;" class="cell"
      [ngClass]="{'block-left': (c % vm.blocksize) === 0, 'block-top': (r % vm.blocksize) === 0,'block-right': c === vm.size-1, 'block-bottom': r === vm.size-1}">
      <app-cell [info]="vm.displayBoard[r][c]" (setValue)="setValue(r, c, $event)"
        (clearValue)="clearValue(r, c, $event)" (setOption)="setOption(r, c, $event)" (clearOption)="clearOption(r, c, $event)"></app-cell>
    </div>
  </div>
</div>

<div class="buttons">
  <button (click)="setString()">Tekst invoeren</button>
  <button (click)="getString(vm.board)">Text opvragen</button>
  <button (click)="empty()">Leeg maken</button>
  <button (click)="check()">Controleer invoer</button>
  <button (click)="solve()">Oplossen</button>
</div>